# Data & Large Files
*.csv
*.zip
manifest-*.json
*.pt
*.safetensors
*.bin
*.pth
data/
results/
results.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.gemini/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
